.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    background-color: aqua;
    list-style: none;
  }
  
  .image-gallery > li {
    flex-basis: 350px; /* width: 350px; */
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }