.gallery_main{
  padding-top: 5%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1%;

}
.gallery-2-row{
  gap: 20px;
  padding-right: 11%;
  justify-content: space-between;
}
.gallery_long{
  padding-left: 9.3%;
}
.gallery-row-1{
  padding-bottom: 1%;
}

.image-gallery2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1%;

}

.image-gallery-o{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1%;
}
.gallery-o-row-1{
  padding-bottom: 1%;
}
.gallery-0-2-row{
  padding-left: 9%;
}

.gallery-o-long{
  padding-right: 11%;

}